*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: auto;
  overflow-x: hidden;
}

body {
  font-family: 'Inter Tight', sans-serif;
  background: var(--white);
  color: var(--black);
  overflow-x: hidden;
  cursor: none;
}
